<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<!-- afficher les ingrediens avec les doses associées -->
<!-- seed avec des id de cocktails existants, id d'ingredients existants et un amount-->
